<!-- Footer -->
<div class="footer footer--dark">
	<div class="container align-center">
		<p><a href="/" class="footer__textLogo navbar__logo"><img src="{{{global.img_logo_footer}}}"/></a></p>
		<ul class="footer-links">
			{{#global.footer.facebook.show_or_hide}}
				<li>
					<a href="{{{global.footer.facebook.url}}}" target="_blank"><i class="fab fa-facebook"></i></a>
				</li>
			{{/global.footer.facebook.show_or_hide}}

			{{#global.footer.twitter.show_or_hide}}
				<li>
					<a href="{{{global.footer.twitter.url}}}" target="_blank"><i class="fab fa-twitter"></i></a>
				</li>
			{{/global.footer.twitter.show_or_hide}}

			{{#global.footer.github.show_or_hide}}
				<li>
					<a href="{{{global.footer.github.url}}}" target="_blank"><i class="fab fa-github"></i></a>
				</li>
			{{/global.footer.github.show_or_hide}}

			{{#global.footer.linkedin.show_or_hide}}
				<li>
					<a href="{{{global.footer.linkedin.url}}}" target="_blank"><i class="fab fa-linkedin"></i></a>
				</li>
			{{/global.footer.linkedin.show_or_hide}}

			{{#global.footer.youtube.show_or_hide}}
				<li>
					<a href="{{{global.footer.youtube.url}}}" target="_blank"><i class="fab fa-youtube"></i></a>
				</li>
			{{/global.footer.youtube.show_or_hide}}

			{{#global.footer.instagram.show_or_hide}}
				<li>
					<a href="{{{global.footer.instagram.url}}}" target="_blank"><i class="fab fa-instagram"></i></a>
				</li>
			{{/global.footer.instagram.show_or_hide}}
		</ul>
		 <p class="align-center vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/9N0KYpIqfQHpUqn3u3ov_UfG4W_018XK-P6z8RFtylDCxWeJjlylyQsZxNz2IqSP1RhQaMPbgOwkQYFv7YHS7aX8qMY"/></a></p>
	</div>
</div>
